// import required fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Mouse+Memoirs&display=swap');

// border check purposees only
$bordercheck: 1px red solid;

// colors
$color: (
    // primary: #0E153A,
    // secondary: #8DD070,
    // accentsblue: #43DDE6,
    // accentspink: #FC5185,
    dark: #000000,
    light: #FFFFFF
);
@function color($color-name) {
    @return map-get($color, $color-name)
};

// font weights properties
$fontweight: (
    semi-bold: 600,
    regular: 400
);
@function fontweight($font-weight) {
    @return map-get($fontweight, $font-weight)
};

// font sizes properties
$fontsize: (
    regular: 16px,
    // title: 20px
);
@function fontsize($font-size) {
    @return map-get($fontsize, $font-size)
};

// set all to default
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Mouse Memoirs', sans-serif;
}

body {
    position: relative;
    height: 100vh;

    .nav {
        // border: $bordercheck;
        position: fixed;
        width: 100%;
        padding: 50px 100px;
        z-index: 2;

        .logo {
            // border: $bordercheck;
            position: relative;
            float: left;
            display: flex;
            flex-flow: row wrap;

            svg#brush {
                width: 20.4px;
                height: 34.36px;

                .st0B {
                    fill: color(light);
                }
            }

            .logo_text {
                font-family: 'Mouse Memoirs', sans-serif;
                font-size: 30px;
                letter-spacing: 2px;
                padding-left: 5px;
                padding-top: 5px;
                color: color(light);
            }
        }

        .social_follow {
            // border: $bordercheck;
            position: relative;
            float: right;

            svg {
                width: 30px;
                height: 30px;

                .st0I, .st0T {
                    fill: color(light);
                }
            }
        }
    }

    // top starts here
    .top {
        // border: $bordercheck;
        position: relative;
        height: 37.5vh;
        background-color: color(dark);

        .bg_pattern {
            // border: $bordercheck;
            position: absolute;
            width: 100%;
            // display: none;

            svg {
                width: 285px;
                height: 285px;
                opacity: 10%;

                .st0S, .st0T, .st0C, .st0X {
                    fill: color(light);
                    opacity: 70%;
                }
            }

            #x {
                position: absolute;
                top: 18.5vh;
                left: 100px;
            }

            #circle {
                position: absolute;
                top: 18.5vh;
                right: 100px;
            }

            #square {
                position: relative;
                bottom: 10vh;
                left: 385px;
            }

            #triangle {
                position: absolute;
                bottom: 10vh;
                right: 385px;
            }
        }

        .headline {
            position: absolute;
            top: 18.5vh;
            left: 50%;
            transform: translateX(-50%);

            .headline_text {
                font-family: 'Mouse Memoirs', sans-serif;
                font-size: 50px;
                text-transform: uppercase;
                color: color(light);
            }

            .headline_pattern {
                display: none;
            }
        }
    } // top ends here

    // bottom starts here
    .bottom {
        // border: $bordercheck;
        position: relative;
        height: 62.5vh;

        .bg_cover {
            // border: $bordercheck;
            position: absolute;
            width: 100%;
            height: 62.5vh;
            background-color: color(light);
            // z-index: -1;
        }

        .insta {
            position: relative;
            // z-index: 1;

            .insta_top {
                // border: $bordercheck;
                position: relative;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-content: center;
                padding-top: 60px;

                .insta_title {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: fontweight(semi-bold);
                }

                .insta_count {
                    // border: $bordercheck;
                    position: relative;
                    width: 18%;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    text-align: center;
                    padding-top: 10px;

                    span {
                        font-weight: fontweight(semi-bold);
                    }
                }
            }

            .insta_bottom {
                position: relative;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
                grid-gap: 30px;
                justify-content: center;
                // display: flex;
                // flex-flow: row wrap;
                // justify-content: space-between;
                // align-content: center;
                padding: 50px 100px;

                .insta_post {
                    // border: $bordercheck;
                    position: relative;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-content: center;
                    padding: 0 0 0 0;

                    .insta_post_img {
                        border: 3px lighten(color(dark), 70%) solid;
                        border-radius: 10px;
                        // width: 350px;
                        // height: 350px;

                        img {
                            width: 350px;
                            height: 350px;
                        }
                    }

                    .insta_post_attr {
                        position: relative;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        align-content: center;
                        padding: 10px 0 0 0;
                        text-transform: uppercase;

                        span {
                            font-weight: fontweight(semi-bold);
                        }
                    }
                }
            }
        }
    }  // bottom ends here
}

@media only screen and (min-width: 1046px) and (max-width: 1545px) {
    body {
    
        // top starts here
        .top {
    
            .bg_pattern {
    
                svg {
                    width: 225px;
                    height: 225px;
                }
    
                #x {
                    top: 22.5vh;
                    left: 100px;
                }
    
                #circle {
                    top: 22.5vh;
                    right: 100px;
                }
    
                #square {
                    bottom: 9vh;
                    left: 285px;
                }
    
                #triangle {
                    bottom: 9vh;
                    right: 285px;
                }
            }
        } // top ends here
    
        // bottom starts here
        .bottom {
    
            .insta {
    
                .insta_top {
    
                    .insta_count {
                        width: 26%;
                    }
                }

                .insta_bottom {
                    // padding: 0 100px 60px 100px;
                }
            }
        }  // bottom ends here
    }
}

@media only screen and (min-width: 966px) and (max-width: 1045px) {
    body {
    
        // top starts here
        .top {
    
            .bg_pattern {
    
                svg {
                    width: 185px;
                    height: 185px;
                }
    
                #x {
                    top: 25.5vh;
                    left: 100px;
                }
    
                #circle {
                    top: 25.5vh;
                    right: 100px;
                }
    
                #square {
                    bottom: 7vh;
                    left: 285px;
                }
    
                #triangle {
                    bottom: 7vh;
                    right: 285px;
                }
            }
        } // top ends here
    
        // bottom starts here
        .bottom {
    
            .insta {
    
                .insta_top {
    
                    .insta_count {
                        width: 28%;
                    }
                }

                .insta_bottom {
                    // padding: 0 100px 60px 100px;
                }
            }
        }  // bottom ends here
    }
}

@media only screen and (min-width: 746px) and (max-width: 965px) {
    body {
    
        // top starts here
        .top {
    
            .bg_pattern {
    
                svg {
                    width: 145px;
                    height: 145px;
                }
    
                #x {
                    top: 27.5vh;
                    left: 100px;
                }
    
                #circle {
                    top: 27.5vh;
                    right: 100px;
                }
    
                #square {
                    bottom: 5vh;
                    left: 215px;
                }
    
                #triangle {
                    bottom: 5vh;
                    right: 215px;
                }
            }
        } // top ends here
    
        // bottom starts here
        .bottom {
    
            .insta {
    
                .insta_top {
                    flex-flow: column wrap;
                    padding: 60px 0 40px 0;
    
                    .insta_count {
                        width: 36%;
                    }
                }
    
                .insta_bottom {
                    // flex-flow: column wrap;
                    // padding: 0 0 60px 0;
                }
            }
        }  // bottom ends here
    }
}

@media only screen and (min-width: 596px) and (max-width: 745px) {
    body {

        .nav {
            background-color: color(dark);
        }
    
        // top starts here
        .top {
            background-color: color(light);
    
            .bg_pattern {
                display: none;
            }
            
    
            .headline {
                position: absolute;
                top: 18.5vh;
                left: 50%;
                transform: translateX(-50%);
    
                .headline_text {
                    font-family: 'Mouse Memoirs', sans-serif;
                    font-size: 50px;
                    text-transform: uppercase;
                    color: color(dark);
                }
    
                .headline_pattern {
                    // border: $bordercheck;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    svg {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        } // top ends here
    
        // bottom starts here
        .bottom {
    
            .insta {
    
                .insta_top {
                    padding: 60px 0 40px 0;
    
                    .insta_count {
                        width: 45%;
                    }
                }
    
                .insta_bottom {
                    // flex-flow: column wrap;
                    // padding: 0 0 60px 0;
                }
            }
        }  // bottom ends here
    }
}

@media only screen and (min-width: 0px) and (max-width: 595px) {
    body {

        .nav {
            padding: 20px 30px;
            background-color: color(dark);
        }
    
        // top starts here
        .top {
            height: 32.5vh;
            background-color: color(light);
    
            .bg_pattern {
                display: none;
            }
    
            .headline {
                position: absolute;
                top: 16.5vh;
                left: 50%;
                transform: translateX(-50%);
    
                .headline_text {
                    font-family: 'Mouse Memoirs', sans-serif;
                    font-size: 30px;
                    text-transform: uppercase;
                    color: color(dark);
                }
    
                .headline_pattern {
                    border: $bordercheck;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        } // top ends here
    
        // bottom starts here
        .bottom {

            .bg_cover {
                display: none;
            }
    
            .insta {
                background-color: color(dark);
                color: color(light);
    
                .insta_top {
                    padding-top: 30px;
    
                    .insta_count {
                        width: 80%;
                    }
                }
    
                .insta_bottom {
                    // flex-flow: column wrap;
                    // padding: 0 20px 30px 20px;
    
                    .insta_post {
    
                        .insta_post_img {
                            // width: 300px;
                            // height: 300px;

                            img {
                                width: 300px;
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }  // bottom ends here
    }
}